* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, sans-serif;
	font-size: 20px;
	background-color: #06032a;
	color: #e3e3e3;
	text-align: center;
}

.container,
.clock-wrapper,
.reset-wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	margin: 50px 0 0 0;

}

h1,
h3 {
	font-weight: 400;
	letter-spacing: 1px
}

h1 {
	font-size: 300%;
}

h3 {
	font-size: 150%;
	margin: 0 0 10px 0;
}

button {
	background-color: #06032a;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.set-time {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 30px 0 0 0;
}

.work-length,
.break-length {
	padding: 0 30px;
}

.work-time,
.break-time {
	font-size: 150%;
}

i {
	padding: 0 10px;
	color: #4678ff;
}

i:hover {
	color: #b7b7f0;
}

.clock-wrapper {
	margin: 50px auto 20px auto;
	width: 500px;
	height: 250px;
	border: 10px solid #0f3396;
	border-radius: 10px;
	letter-spacing: 2px;
}

.clock-content h1 {
	letter-spacing: 2px;
}

.clock-content {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.status {
	font-size: 300%;
	font-weight: 700;
	color: #f43a3a;
		text-transform: uppercase;
}

.timer {
	font-family: "Orbitron", sans-serif;
	font-size: 500%;
}

.buttons-wrapper {
	margin: 20px auto;
}

.ion-chevron-down,
.ion-chevron-up {
	font-size: 30px;
}

.play-button,
.pause-button,
.reset-button {
	font-size: 400%;
	margin: 0 10px;
}
